.escribir
{

    background-color: whitesmoke;
    font-size: 14px;
    font-family: monospace;
    height: 40px;
    width: 250px;
    border-color: white;

}
.escribir:hover
{
    box-shadow: 2px 2px 15px yellow;
}



#enviar
{
    background-color: dodgerblue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: whitesmoke;
    justify-content: center;
    display: flex;
    align-items: center;
}
#enviar:hover
{
    box-shadow: 2px 2px 15px whitesmoke;
}

.hola1
{
    font-family: monospace;
    font-size: 15px;
}

#chat-salidas {
    width:25%;
    position: absolute;
    bottom: 10px;
}


#boton-enviar {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    color: white;
    margin-left: 10px;
    font-size: 18px;
}

.chat-salidas_input
{
    justify-content: center;
    display: flex;
    align-items: center;
}

.caja-texto
{
    background-color: #18181b;
    width: 98%;
    height: 75vh;
    overflow-y: scroll;
}

.colorUser{
    color: mediumorchid	;
    font-weight: bold;
    font-size: 0.9em;
}
.colorText{
    color: aliceblue;
    font-weight: bold;
    font-size: 0.9em;
}

.text-center{
    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px 15px white;
}

.livechat{
    background-color: #0e0e10;
    opacity: .90;
}

.ichat
{
    color: #6bd06b;
}

