header
{
    background-color: black;
    color: white;
    height: 50px;
}

.nav1
{
    margin-right: 400px;
    width: 470px;
}

#buscar
{
    width: 100px;
    height: 36px;
    background-color: #6B2B9D;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    font-size: 16px;
    font-family: monospace  ;
}
.navbar
{
    color: white;
    background-color: black;
}

#buscar:hover
{
    color: #6240bd;
    background: #fff;
    text-decoration: none;
}

.entrada
{
    font-family: monospace;
    font-size: 15px;
}
.titulo
{
    margin-left: -220px;
    font-size: 22px;
    font-family: monospace;
}

.icono
{
    color: dodgerblue;
}

