.usuario
{
    background-color: #6B2B9D;
    width: 25%;
    height: 100vh;
}

.xvideo
{
    background-color: aqua;
    width: 50%;
    height: 100vh;
}

.area
{
    display: flex;
}

.livechat
{
    background-color: darkslategrey;
    width: 25%;
    height: 100vh;
}
