.usuarioGen
{

    width: 21%;
    height: 91vh;
    opacity: .90;

}

.xvideo
{

    width: 54%;
    height: 91vh;
}

.area
{
    display: flex;
}

.livechat
{
    background-color: darkslategrey;
    width: 25%;
    height: 91vh;
}

.YouTube{
    width: 650px;
    height: 365px;
}

.titulo{
    font-size: 1.2em;
    color: aliceblue;
}

.conectados
{
    color: blueviolet;
}

.usuariosOnline
{
    font-family: "DejaVu Sans Condensed";
    font-size: 17px;
    text-shadow: 2px 2px 15px white;
}

.simon
{
    opacity: 1;
    background-color: #6bd06b;
}
#video
{
    width: 700px;
    height: 400px;
}