.usuario
{
    background-color: #0e0e10;
    width: 25%;
    height: 90vh;
}

.xvideo
{
    background-color: #0e0e10;
    width: 50%;
    height: 90vh;
}

.area
{
    display: flex;
}

.livechat
{
    background-color: darkslategrey;
    width: 25%;
    height: 90vh;
}

.YouTube{
    width: 650px;
    height: 365px;
}

.titulo{
    font-size: 1.2em;
    color: aliceblue;
}